{% extends "base.html" %}

{%block title %}About My Project{% endblock %}

{% block content %}
	<div class="container">
		<div class="header">
			<h1>About Christina English</h1>
			<hr/>
		</div>
		<div>
			<p></p>
			<p>Christina English is a graduate student at John Hopkins University, pursuing a M.S. in Government Analytics with a concentration in Statistical Analysis. Her undergraduate degree is in Economics from the University of Chicago and she is also a SAS Certified Base Programmer. Christina also serves as the Staff Economist at the <a href="http://eeac.org/">Equal Employment Advisory Council</a> where she helps members understand the statistical analyses performed to verify that women and minority employees are not receiving disparate treatment; particularly in the realm of compensation.</p>
			<p>Most of her research focuses on differences in earnings by gender or race/ethnicity. This has included both academic articles on how the returns to education for Texas Hispanics varies by gender and location, as well as articles for more general audiences demonstrating how lower education attainment and English language skills are impacting Hispanic earnings.</p>
  		</div>
	</div>
{% endblock %}