{% extends "base.html" %}

{%block title %}Home{% endblock %}

{% block content %}
	<div class="container">
		<div class="header">
			<h1>Do Women Earn 81&#162; For Every Dollar Men Earn?</h1>
			<hr/>
		</div>
		<div>
			<div class="row">
				<div class="col-md-8">
					<p></p>
					<p>Nationwide, amongst people working full time, women earn 81 cents for every dollar that men earn. This wage gap has been persistent over time and does not appear to be narrowing significantly.  This project therefore seeks to explore the differences in earnings between men and women across different occupations; starting from choices in college major.</p>
					<p>See the <a href="/research">Research Question</a> page for more information about why this topic is important.</p>
					<p>The data collection and analysis program is described in the <a href="/project">Project Description</a> page.</p>
					<p>If you would like to learn more about the research flow, see the <a href="/methodology">Methodology</a> page.</p>
					<p>The <a href="/results">Results</a> page explains what was discovered by the analysis.</p>
					<p>See the <a href="/about">About the Author</a> page to learn more about the author.</p>
				</div>
				 <div class="col-md-4">
				 	<p></p>
					<img src="/static/Wage_Gap.png" height=200 width=200>
				</div>
			</div>
		</div>
	</div>
{% endblock %}