{% extends "base.html" %}

{%block title %}Methodology{% endblock %}

{% block content %}
	<div class="container">
		<div class="header">
			<h1>Research Methodology</h1>
			<hr/>
		</div>
		<div>
			<p></p>
			<p>The main question for this project is whether or not all women are faced with the same 81 cent wage gap, or do differences in occupational specialization explain some of the difference?</p>
			<p>One possible explanation for the wage gap in earnings is differences in educational attainment and degrees pursued. Therefore the Integrated Postsecondary Education Data System (IPEDS) will be used to compare the number of male and female graduates, and to determine the most popular majors by gender. This will indicate whether or not men and women start specializing in different fields in college that set them up for different earnings potential once they graduate.</p>
			<p>Another possible explanation is that men and women end up in different occupations regardless of their major selection – especially as not all fields require a college degree. Under this theory the 81 cent wage gap at the national level is a reflection of women concentrating in fields that earn less than the fields men concentrate in. Therefore individual occupations will be compared to see if there are differences in earnings based on the fields men and women concentrate in. Additionally, the highest and lowest earning occupations will be examined to see if there are differences in the gender composition that may pull up men’s earnings at the national level while lowering women’s.</p>
  		</div>
	</div>


{% endblock %}