{% extends "base.html" %}

{%block title %}Research Question{% endblock %}

{% block content %}
	<div class="container">
		<div class="header">
			<h1>Does Occupational Specialization by Gender Explain Part of the Wage Gap?</h1>
			<hr/>
		</div>
		<div>
			<p></p>
			<p>It is often reported that women earn 81 cents for every dollar that men earn. This wage gap is troubling as more and more women join the labor force and are the primary bread winners for themselves and their families. Yet looking at national median alone may obscure important variations in the wage gap across different occupations.</p>
			<p>This project will therefore trace women’s occupational decisions to identify some important factors that may help explain the variation in wages by gender. For instance, education data can be used to identify differences in college major selections. These decisions then have an impact on which occupations individuals are most qualified for.</p>
			<p>As earning vary by occupation, it is also possible that women are more highly concentrated in lower earning occupations, and this is pulling down the national median for women. Therefore the wage gap between and within occupations will be studied to see if women everywhere earn 81 cents on the dollar or do differences in occupational specialization explain some of the difference?</p>
		</div>
	</div>


{% endblock %}